.radioQuestWrap{
  .questTitle {
    font-size: 18px;
    font-weight: bold;
    color: #444444;
  }
  .myInput {
    outline: none;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  }
  .ant-checkbox-group{
    line-height: 2.8;
  }
}
.complexWrap {
  .compTitle{
    font-size: 18px;
    font-weight: bold;
    color: #444444;
  }
}
.TextAreaWrap {
  .compTitle{
    font-size: 18px;
    font-weight: bold;
    color: #444444;
  }
}