.layout-info {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  &__avatar {
    width: 32px;
    height: 32px;
  }
  &__account {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    font-size: 16px;
    &-link {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }
  
  &__panel {
    min-width: 240px;
    margin-top: -4px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,.15);
  }
  &-item {
    display: block;
    cursor: pointer;
    transition: all .3s;
    padding: 14px 25px;
    color: rgba(0,0,0,.65);
    border-bottom: 1px solid #eee;
    &__upgrade {
      margin-left: 20px;
    }
    &__otherText {
      margin-left: 10px;
    }
    &:last-child {
      border: none;
    }
    &:hover {
      background-color: #e6f7ff;
    }
    >i {
      font-size: 16px;
      margin-right: 12px;
    }
  }
  .layout-info-itemflex{
    position: relative;
    padding: 20px;
  }
}
.layout-infopay{
  .layout-info__account {
    color: #0099e8;
    &-link {
      color: #0099e8;
      &:hover {
        color: #0099e8;
      }
    }
    .anticon-down{
      color: #999;
    }
    span{
      color: #444;
    }
  }
}