.page-header {
  display: -webkit-box;
  -webkit-box-pack: justify;
  
  .page-header__title {
    zoom: 1;
    overflow: hidden;
    vertical-align: top;
    
    h3 {
      vertical-align: top;
      display: -webkit-box;
      -webkit-box-align: center;
      float: left;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    
    .page-header__icon {
      display: -webkit-box;
      -webkit-box-align: center;
      vertical-align: -2px;
      margin: 0 0 0 -4px;
      cursor: pointer;
      float: left;
      height: 100%;

      button {
        margin: 0 0 0 10px;
        padding: 0;
        box-shadow: 0 0;
        background: none;
        border: none;
      }
    }
  }

  // 按钮
  .page-header__features {
    height: 100%;
    display: -webkit-box;
    -webkit-box-align: center;
  }

  // 链接
  .page-header__links {
    color: #AAAAAA;
    font-size: 14px;
    margin: 0 0 0 8px;
  }
}
