<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes" />
    <title>idvert</title>
    <link rel="icon" href="/favicon.png" type="image/x-icon">
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
