.button-group {
  &__option {
    display: inline-block;
    &-item {
      cursor: pointer;
      position: relative;
      min-width: 92px;
      height: 32px;
      line-height: 32px;
      padding: 0 8px;
      vertical-align: middle;
      display: inline-block;
      text-align: center;
      border-top-width: 1.02px;
      border: 1px solid #d9d9d9;
      border-left: 0;
      color: #AAAAAA;
      &:first-child {
        border-left: 1px solid rgba(221, 221, 221, 1);
        border-radius: 3px 0 0 3px;
      }
      &:last-child {
        border-right: 1px solid rgba(221, 221, 221, 1);
        border-radius: 0 3px 3px 0;
      }
    }
    &-actived {
      color: #2F3847;
      z-index: 1;
      border-color: #2F3847;
      box-shadow: -1px 0 0 0 #2F3847;
      &:first-child {
        box-shadow: none;
        border-color: #2F3847;
      }
      &:last-child {
        border-color: #2F3847;
      }
    }
  }

  &__help {
    color: #AAAAAA;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
  }
}