.template{
  &-header{
    height: 66px;
    width: 100%;
    padding: 0 20px;
    position: fixed;
    line-height: 66px;
    top: 0;
    left: 0;
    z-index: 10;
  }
}
.user {
  position: relative;
  height: 100%;
  width: 100%;
}

.messageIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 100px;
  height: 40%;
  flex: 1;
}

.messageBox{
  width: 1170px;
  height: 500px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.messageWarp{
  width: 100%;
  height: 100%;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.messageImage{
  box-sizing: border-box;
  padding-top: 100px;
  height: 40%;
}
.messageDesc{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 100px;
  height: 40%;
}
.messageInfo{
  margin-top: -100px;
  width: 70%;
  text-align: center;
  font-size: 26px;
  color: #000c17;
}
.infoBox{
  display: flex;
  flex-direction: column;
}

